body {
  margin: 0;
  padding: 0;

  font-family: "PT-Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}
.button a{
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;

  background-color: #81b3d2;
}


.button .button-search {
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 568px;
  height: 86px;
  background-color: #766357;
  border-style: none;
}

.button .button-find {
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  width: 458px;
  height: 55px;
  background-color: #81b3d2;
  border-style: none;
}

.button .button-search:hover{
  background-color: #604e43;
}

.button .button-search:focus {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.button .button-find:hover {
  background-color: #669ec0;
}

.button .button-find:focus {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.button .button-information {
  background-color: #81b3d2;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 17px;
  padding-right: 17px;
}

.button .button-information:hover {
  background-color: #669ec0;
}

.button .button-information:focus {
  color: rgba(255,255,255,0.3);

  background-color: #5496bd;
}

.button .button-reservation {
  font-size: 14px;
  background-color: #766357;
  padding: 8px 16px;
}

.button .button-reservation:hover {
  background-color: #604e43;
}

.button .button-reservation:focus {
  color: rgba(255,255,255,0.3);

  background-color: #503e33;
}

 .hotels ol{
   list-style: none;
 }

.hotels h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
}
h2 a {
  color:#000000;
}

h2 a:hover {
  color: #81b3d2;
}

h2 a:focus {
  color: rgba(0,0,0,0.3);
}

.rating {
  color: #666666;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  color: #000000;
  font-weight: bold;
  line-height: 26px;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0,0,0,0.3);
}

.site-navigation .site-navigation-current {
  color: #766357;
}


 .title-info {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
}

 .text-info {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff;
  padding: 0;
}
.info {
  padding-top: 61px;
}

.info-introduction {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.info-advantages {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}


.main-header-logo {
    order: 1;
    width: 140px;
    height: 71px;
    margin-left: 51px;
}

.main-navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: #ffffff;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/background-photo.jpg);
  width: 100%;
  height: 508px;
}

.welcome-photo{
  padding-top: 76px;
}

.search {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  background-color: #ffffff;
}

.map {
 display: flex;
 justify-content: center;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/filter-background.jpg);
  widht: 100px;
  height: 562px;
}

.offer-list {
  display: flex;
  flex-direction: column;
  margin-bottom: : 0;
  background-color: #ffffff;
  min-height: 454px;
}
.hotel-offer {
  min-height: 150px;
  margin-left: 72px;
}

.footer-contacts {
  font-weight: bold;
  width: 223px;
  }

.footer-copyright {
  display: flex;
  align-items: center;

}

.footer-copyright b {
  font-size: 14px;
  font-weight: normal;
  padding-right: 8px;
}

.footer-copyright a:hover {
  color: #81b3d2;
}

.footer-copyright a:focus {
  color: #bdbbbc;
}
.footer-social ul {
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:focus {
  background-color: #5496bd;
}

.social-button:focus path {
  opacity: 0.3;
}

.main-footer {
  background-color: #ffffff;
  opacity: 0.9;
}

.main-footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 120px;
}

.footer-social {
  width: 150px;
}
