body {
  margin: 0;
  padding-left: 40px;
  padding-right:40px;

  font-family: "PT-Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url(background-photo.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  color: #ffffff;

  background-color: #000000;
  background-image: url(filter-background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}
.button a{
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;

  background-color: #81b3d2;
}

.button .button-information:hover {
  background-color: #669ec0;
}

.button .button-information:focus {
  color: rgba(255,255,255,0.3);

  background-color: #5496bd;
}

.button .button-reservation {
  background-color: #766357;
}

.button .button-reservation:hover {
  background-color: #604e43;
}

.button .button-reservation:focus {
  color: rgba(255,255,255,0.3);

  background-color: #503e33;
}

 .hotels ol{
   list-style: none;
 }

.hotels h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
}
h2 a {
  color:#000000;
}

h2 a:hover {
  color: #81b3d2;
}

h2 a:focus {
  color: rgba(0,0,0,0.3);
}

.rating {
  color: #666666;
}

.main-navigation {
  background-color: #ffffff;
}
.site-navigation a {
  color: #000000;
  font-weight: bold;
  line-height: 26px;
  list-style: none;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0,0,0,0.3);
}

.site-navigation .site-navigation-current {
  color: #766357;
}
 .title-info {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
}

 .text-info {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.info-introduction {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.info-advantages {
  font-size: 14;
  font-weight:normal;
  line-height: 24;
  text-align: center;
  color: #333333;
}


.main-footer {
  background-color: #ffffff;
}
.footer-contacts {
  font-weight: bold;
  }

  .footer-copyright b {
    font-size: 14px;
    font-weight: normal;
  }
    .footer-copyright a:hover {
    color: #81b3d2;
  }
  .footer-copyright a:focus {
    color: #bdbbbc;
  }
  .footer-social ul {
    list-style: none
  }

  .social-button {
    color: #000000;
  }

  .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 40px;
    padding-write: 40px;
  }

  .main-navigation {
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #666666;
  }
  .main-header-logo {
    order: 1;
    width: 140px;
    height: 71px;
    margin-left: 51px;
  }
.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 478px;

}
.welcome-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  width: 459px;
  background-color: #666666;
}

.map {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.photo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer-list {
  display: flex;
  flex-direction: column;
  margin-botton: 0;
 background-color: #fbded8;
 min-height: 454px;
}
.hotel-offer {
  min-height: 150px;
  margin-left: 72px;


}

.main-footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  background-color: #666666;
  margin-top: 0;
}

.footer-contacts {
  widht: 223px;
}

.footer-social {
  widht: 150px;
}
.footer-copyright {
  widht: 197px;
}
.background-index: {
margin-bottom: 56px;
}
